body {
    background: #f7931a;
    color: white;
    text-align: center;
    margin: 0 auto;
    max-width: 1111px;
}
caption {
    text-align:center;
}
h1 {
    font-weight: bold;
    margin:0 auto;
    font-size: 666px;
    line-height: 0.9;
    text-align: center;
    font-family: sans-serif;
}

@media (max-width: 1100px) {
    h1 {
        font-size: calc(100vw / 1.6);
    }
}

h2 {
    font-weight: bold;
    margin:0;
    font-size: 30px;
    line-height: 0.9;
    font-family: sans-serif;
}
h3 {
  font-weight: bold;
  color: #333;
  margin: 0;
  font-size: 18px;
}

section {
    padding: 24px;
    margin: 24px 0;
}

#team {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 1029px;
    margin: 0 auto;
}

.team {
    aspect-ratio: 1 / 1;
    background: white;
    width: 327px;
    border-radius: 50%;
    align-content: center;
    padding: 0 0 12px;

    @media (max-width: 1100px) {
        width: calc((100vw / 3) - 32px);
    }
}

.team h2 {
    color: #f7931a;
    margin-bottom: 5px;

    @media (max-width: 1100px) {
        font-size: 22px;
    }
}

.team img {
    /*margin-top: 25px;*/
    /*width: 210px;*/
    width: calc(80% - 50px);
    margin: 25px 0 10px;
}
.team a:visited,
.team a {
    color: #333;
}

p {
  margin-top: 0px;
}

#team img {
    border-radius: 100%;
}
#memes img {
    width: 25%;
    padding: 21px;
}
#memes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
ul {
    margin:0;
    padding: 0;
    list-style: none;
}
i {
    font-size: 0.6em;
}

a, a:visited {
    color: white;
}

.frame {
    width: 124px;
    height: 248px;
    background: #333;
    margin: 24px auto 0;
    overflow: hidden;
}
iframe {
    border: 20px solid black;
    width: 1200px;
    height: 2442px;
    transform: scale(0.1);
    transform-origin: top left;
}

.ordinals embed,
.ordinals img {
    width: 200px;
}

.ordinals {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #222;
}
.ordinal {
    padding: 9px;
}

.ordinals > a {
    text-align: center;
}
